$font-primary: "Open Sans", sans-serif;
$font-secondary: "Fira Sans Condensed", sans-serif;

$color-primary: #2196f3;
$color-primary--light: #6ec6ff;
$color-primary--dark: #0069c0;
$color-text: #ffffff;

$width-sidenav: 200px;
