<div>
  <mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav"
                 [fixedInViewport]="sidenavOptions.fixed" [fixedTopGap]="sidenavOptions.top"
                 [fixedBottomGap]="sidenavOptions.bottom">
      <mat-toolbar class="toolbar">Menu</mat-toolbar>

      <ul class="menu">
        <li class="menu-item" *ngFor="let tab of tabs" [routerLink]="[tab.id]">{{tab.title}}</li> 
      </ul>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


